# Xcode
.DS_Store
DerivedData/
build/
*.xcuserstate

# Xcode project user data
*.xcworkspace/
*.xcscmblueprint
*.xccheckout
**/*.moved-aside
**/*.xcuserdatad
**/xcuserdata/**

# Schemes
**/xcuserdata/**
!**/xcshareddata/**

# Breakpoints & UI state
**/xcdebugger/**
**/*_v2.xcbkptlist

# SwiftPM
.swiftpm/
Package.resolved

# CocoaPods (se não usar, ignore mesmo)
Pods/
